 

 
@media screen and (max-width:600px){

    body{
        width: 100%;
        margin: auto;
    }

    nav ul li,.list ul,
    .popular-tours,
    .picture,
    .container,
    .container-2{
        flex-direction: column;
    }

    .banner{
        width: 100%;
        margin: auto;
    }

    .form{
        width: 100%;
        margin: auto;
    }
    
}